
.errorBorder {
    -fx-border-color: #ff2828;
}

.roundCorners {
    -fx-border-radius: 5px;
    -fx-padding: 0 5px 0 5px;
}

.errorText {
    -fx-text-fill: #ff2828;
    -fx-fill: ff2828
}

.hidden {
    -fx-pref-width: 0;
    -fx-pref-height: 0;
    -fx-max-width: 1px;
    -fx-max-height: 1px;
    visibility: collapse;
}

.bold {
    -fx-font-weight: bold;
}

.noBorder {
    -fx-background-color: transparent;
}

.noBorder .scroll-pane {
    -fx-background-color: transparent;
}

.noBorder .scroll-bar .increment-button {
    visibility: hidden;
}

.noBorder .scroll-bar .decrement-button {
    visibility: hidden;
}

.noBorder .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.noBorder .scroll-bar:vertical .track-background {
    visibility: hidden;
}

.noBorder .scroll-bar:vertical .track {
    visibility: hidden;
}

.noBorder .hide-thumb .scroll-bar:vertical .thumb {
    -fx-background-color: transparent;
}